
html {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'ubuntu', sans-serif;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  overflow: auto;
  padding: 12px 0px 12px 0px;

}

header {
  width: inherit;
  max-width: inherit;
  position: fixed;
  display: flex;
  z-index: 1;
  justify-content: space-between;

  background-color: rosybrown;
}

.logo {
  padding-left: 14px;
}

#hotel-logo {
  height: 60px;
  width: 60px;
}

.login-btn {
  padding-right: 20px;
  padding-top: 10px;
}


header {
  top: 0;
}

footer {
  bottom: 0;

}


.footer {
  margin: 0;
  padding: 0;
}


footer {
  width: inherit;
  max-width: inherit;
  position: fixed;
  background-color: rosybrown;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0%;
}

.con-us {
  padding-left: 14px;
}

footer p {
  font-size: 10px;
  color: black;
}

.contact-item {
  list-style: none;
  padding-left: 30px;

}

.links-nav {
  padding: 0px 22px;
}

.links-nav li {
  display: inline-block;

}

.form-group {

  display: flex;
  flex-direction: column;
}

.form-group label {
  flex-basis: 200px;
}