#main-content {
 flex: 1;
  padding: 1rem;
  margin: 1rem;
  padding-top: 80px;
box-sizing: border-box;


}

.side-nav {
  display: flex;
  border: 1px solid black;
  height:60.88vh;
  width: 100%;

}

.side-nav #img-container {
  display: block;
  width: 62%;
  max-height: 6060.88vh

}

.carousel-inner img {
  display: block;
  overflow: hidden;
  max-width: 60%;
  margin: 1rem;
  margin-left: 20%;

}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rosybrown'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rosybrown'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 50px;
  height: 60px;
}


.side-nav .form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 430px;
  height: 400px;
  border-left: 1px solid black;

}

.form-div .login-form input {
  width: 90%;
}

.login-form {
  margin: 1rem;
  padding: 1rem;
  margin-top: 70px;

}

.flex-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.form-div .login-form label {
  flex-basis: 140px;


}




.form-div .login-form .flex-input button {
  padding-left: 15px;
  margin-bottom: 30px;
  margin-left: 140px;
}

.content>img {
  margin: 2% 4% 0 4%;
}

.description>div {
  margin: 1% 4% 2% 4%;
}

.myform {
  display: unset;
}



.description>h3 {
  font-family: 'ubuntu', cursive;
}

.checked {
  color: goldenrod;
}