#bar {
  display: flex;
  z-index: 1;
  margin: 0;

  background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
  height: 380px;
  width: 100%;
  align-items: center;
  background-position: center;
  background-size: cover;

}

#search {
  margin: auto;
  display: block;
  background-color: #f1f1f1;
  padding: 8px;
  width: 28%;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 12px;
}

#main-content {

  flex: 1;
  overflow: auto;
  padding-bottom: 35px;
}

.center {
  text-align: center;
  padding-bottom: 60px;


}

.img-container {
  background-size: cover;
  display: flex;
  margin-left: 15%;
  margin-right: 15%;

}

.img-container>div {
  padding: 4%;
}