body {
  display: flex;
  
}
#hotel-logo {
  width: 150px;
  
}
.img-container { 
  float:left;
  margin: 0 1px;

}

.iconContainer{
  display: flex;
 flex-direction: row;
 margin: 0 2px;
}