main {

    overflow: auto;
    padding: 1rem;
    margin-bottom: 4%;

}


.box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;



}

#hotel-one {
    display: flex;
    height: 201px;
    width: 42%;
    margin: 2%;
    text-decoration: none;
    background-color: lightgrey;

}

#hotel-one .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 54%;

    padding: 1rem;
    background-color: lightgrey;

}

#hotel-one .info:hover {
    background-color: rosybrown;
}

#hotel-two {
    display: flex;
    height: 201px;
    width: 42%;
    margin: 2%;
    text-decoration: none;
    background-color: lightgrey;

}

#hotel-two .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 54%;

    padding: 1rem;
    background-color: lightgrey;

}

#hotel-two .info:hover {
    background-color: rosybrown;
}

#hotel-three {
    display: flex;
    height: 201px;
    width: 42%;
    margin: 2%;
    text-decoration: none;
    background-color: lightgrey;

}

#hotel-three .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 54%;

    padding: 1rem;
    background-color: lightgrey;

}

#hotel-three .info:hover {
    background-color: rosybrown;
}

#map-view {
    display: flex;
    flex-basis: content;
    flex-direction: column;
    text-decoration: none;


}

#map-view .map-title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-top: 50px;
}

#map-view a {
    width: max-content;
}

.container-f {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
}

.toggle ul {
    display: flex;

}

.toggle ul li {
    list-style: none;
}

.toggle ul li:nth-child(1) {
    padding-right: 10px;
}

.toggle ul li a {

    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;

}

ul li.active a {

    background-color: #33b5e5;
    color: black;
}