.content {
    width: 50%;
    height: 20%;
    background-color: rgb(132, 136, 139);
    margin: 2% auto 2% auto;

}
.info {
    margin: 2%;
}
fieldset{
    border-radius: 5px;
    padding: 1% 2% 1% 2%;
}