main {
    flex: 1;
    overflow: auto;
    padding: 1rem;
    margin: 1rem;
    padding-top: 30px;
}

#main-content {

    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;


}


.hotel-content {
    display: flex;
    flex-direction: row;

    justify-content: center;
    padding-top: 3%;


}

.hotel-info {

    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(132, 136, 139);


}

.container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rosybrown;
    border-radius: 5px;
    border: 1px solid black;
    padding: 1% 2% 1% 2%;
    ;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 90px;
}

.info>b {
    display: flex;
    justify-content: center;
    flex-direction: column;


}

.info button {
    margin-top: 80px;
}